@import url(../typefaces/typefaces.css);
:root {
    --font-main: 'Gilroy', sans-serif;
    --font-secondary: 'Secondary Font', serif;
}


/* **************** BAMIS **************** */

* {
    font-family: var(--font-main);
}

.paragraph-text {
    font-family: var(--font-secondary);
}
.text-main{
    color:#47BA7A;
}
.bg-main{
    background-color: #18B984;
}


/* **************** LAYOUT **************** */

.page-cover{
    display: grid;
    grid-template-areas: 
    "page-cover-header " 
    "page-cover-section" 
    "page-cover-footer";
    grid-template-columns: 1fr;
    grid-template-rows:max-content 1fr max-content ;
    height: 100vh;
}

.page-cover-header{
    grid-area: page-cover-header;
}
.page-cover-section{
    grid-area: page-cover-section;
    position: relative;
}

.page-cover-footer{
    grid-area: page-cover-footer;
}

.cover-content{
    width: 50vh;
    position: relative;
}

/* **************** Background **************** */

.bg-cover-image {
   background-color: #fafafa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2305ce7c' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.page-cover-section::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("../../media/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }



  
  
/* @media screen and (max-width:768px) {
    .page-cover{
        display: grid;
        grid-template-areas: 
        "page-cover-header" 
        "page-cover-section-text" 
        "page-cover-section-image" 
        "page-cover-footer";
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content 1fr max-content ;
        height: 100vh;
    }
} */