@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./assets/typefaces/typefaces.css");


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00a78e62 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #00a78e62;
  border-radius: 20px;
  border: 3px solid transparent;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Gilroy, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
